.sale-row1{
  background-color: rgb(36, 56, 145);
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sale-row2{
  border: none;
  box-shadow: 0px 4px 8px rgb(117, 115, 115);
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sale-row3{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: 50px;
}

.sale-imgAP{
    width:250px;
    height: 437px;
    box-shadow: 0px 4px 8px rgb(117, 115, 115);
    border-radius: 0.4em;
    overflow: hidden;
}

.sale-imgAP img{
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.sale-imgAP img:hover{
  transform: scale(1.1);
}

.sale-imgAP h3{
  color: gray;
}

.sale-imgAP p{
  color: gray;
}
